* {
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo img {
    width: 90px;
    height: auto;
    border-radius: 50%;
    border: 1px solid #fff;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}
.nav-menu ul li {
    margin-right: 20px;
    position: relative;
}

.nav-menu ul li::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;
}
.nav-menu ul li:hover::before {
    width: 100%;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.5s, background-color 0.5s;
    position: relative;
}
ul li a:hover {
    padding: 2px;
    color: #333;
    background-color: #fff;
}

ul li a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;
}
ul li a:hover::after {
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: #f9f9f9;
}

.noticia-content {
    flex: 3;
    padding-right: 20px;
}

.noticia-detalhes {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.noticia-detalhes img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.noticia-info h1 {
    margin: 20px 0;
    font-size: 28px;
    color: #333;
}

.noticia-info .data {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.noticia-info p {
    margin-bottom: 20px;
    line-height: 1.8;
    color: #333;
}

.btn-voltar {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-voltar:hover {
    background-color: #555;
}

.sidebar {
    flex: 1;
    margin-top: 20px; /* Adiciona espaço no topo para dispositivos móveis */
}

.card-noticia {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-noticia img {
    width: 100%;
    border-radius: 8px;
}

.card-noticia h3 {
    margin: 10px 0;
    font-size: 18px;
}

.card-noticia p {
    margin-bottom: 10px;
    color: #666;
}

.card-noticia a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.card-noticia a:hover {
    color: #555;
    text-decoration: underline;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
}

.footer-box p {
    text-align: center;
    margin: 0;
}

/* Responsividade */
@media (max-width: 1024px) {
    .container {
        padding: 0 10px;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu ul li {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    header {
        text-align: center;
    }

    .logo img {
        width: 80px;
        height: auto;
    }

    .nav-menu ul {
        padding: 0;
        margin: 0;
    }

    .nav-menu ul li {
        margin: 10px 0;
    }

    .noticia-content {
        padding-right: 0;
    }

    .sidebar {
        margin-top: 20px;
    }

    .card-noticia {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .nav-menu ul li {
        font-size: 14px;
    }

    .card-noticia {
        padding: 8px;
    }

    .card-noticia img {
        height: auto;
    }

    .footer-box p {
        font-size: 14px;
    }
}