<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="../../src/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../src/icon/favicon-16x16.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="../../style.css">
        <title>WZy Comunicação</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo">
                    <a href="../../index.html">
                        <img src="../../src/img/lgoo_ytb.png" alt="Logomarca WZy Comunicação" />
                    </a>
                </div>
                <nav class="nav-menu">
                    <ul>
                        <li><a href="../../index.html">Home</a></li>
                        <li><a href="../politica.html">Política</a></li>
                        <li><a href="../ecoNegocios.html">Economia & Negócios</a></li>
                        <li><a href="../cultura.html">Cultura</a></li>
                        <li><a href="../entretenimento.html">Entretenimento</a></li>
                        <li><a href="../sociedade.html">Sociedade</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div class="container">
                <section class="noticia-content">
                    <article class="noticia-detalhes">
                        <img id="noticia-imagem" alt="Imagem da Notícia">
                        <div class="noticia-info">
                            <h1 id="noticia-titulo"></h1>
                            <p class="data" id="noticia-data"></p>
                            <p id="noticia-conteudo"></p>
                            <a href="../../index.html" class="btn-voltar">Voltar para a Página Principal</a>
                        </div>
                    </article>
                </section>

                <aside class="sidebar">
                    <h2>Notícias em Destaque</h2>
                </aside>
            </div>
        </main>

        <footer>
            <div class="footer-box">
                <p>Todos os direitos reservados &copy; 2024 WZy Comunicação</p>
            </div>
        </footer>

        <script src="../../script.js"></script>
    </body>
</html>